:global(.react-smart-modal--open) {
  overflow: hidden;
  position: static;
}

.react-smart-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.react-smart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(252, 252, 252, 0.7);
}

.react-smart-modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  overflow: hidden;
  outline: none;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 16px 60px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-overflow-scrolling: touch;

  &__close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    margin: 4px;

    line-height: 1;

    cursor: pointer;

    &:hover {
      color: red;
    }

    @media screen and (max-device-width: 520px){
      padding: 8px;
      margin: 8px;
    }
  }
}